apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.7.0 (HEAD)
  creationTimestamp: null
  labels:
    io.kompose.service: config-server
  name: config-server
  labels:
    app: config-server
spec:
  replicas: 1
  strategy: {}
  selector:
    matchLabels:
      app: config-server
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: config-server
    spec:
      imagePullSecrets:
      - name: regcred  
      containers:
      - image: pontxo/config-server:v1
        name: config-server
        ports:
        - containerPort: 8888
        resources: {}
      restartPolicy: Always
status: {}


---


apiVersion: v1
kind: Service
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.7.0 (HEAD)
  creationTimestamp: null
  labels:
    app: config-server
  name: config-server
spec:
  ports:
  - name: "8888"
    port: 8888
    targetPort: 8888
  type: LoadBalancer
  selector:
    app: config-server
status:
  loadBalancer: {}
