apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.7.0 (HEAD)
  creationTimestamp: null
  labels:
    io.kompose.service: servicio-items
  name: servicio-items
spec:
  replicas: 1
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        io.kompose.service: servicio-items
    spec:
      containers:
      - image: servicio-items:v1
        name: servicio-items
        ports:
        - containerPort: 8002
        - containerPort: 8005
        - containerPort: 8007
        resources: {}
      restartPolicy: Always
status: {}
