apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.7.0 (HEAD)
  creationTimestamp: null
  labels:
    io.kompose.service: servicio-eureka-server
  name: servicio-eureka-server
  labels:
    app: servicio-eureka-server
spec:
  replicas: 1
  strategy: {}
  selector:
    matchLabels:
      app: servicio-eureka-server  
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: servicio-eureka-server
    spec:
      containers:
      - image: pontxo/servicio-eureka-server:v1
        name: servicio-eureka-server
        ports:
        - containerPort: 8761
        resources: {}
      restartPolicy: Always
status: {}
