apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.7.0 (HEAD)
  creationTimestamp: null
  labels:
    io.kompose.service: servicio-usuarios
  name: servicio-usuarios
  labels:
    app: servicio-usuarios
spec:
  replicas: 1
  strategy: {}
  selector:
    matchLabels:
      app: servicio-usuarios  
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: servicio-usuarios
    spec:
      containers:
      - image: pontxo/servicio-usuarios:v1
        name: servicio-usuarios
        ports:
        - containerPort: 1234
        resources: {}
      restartPolicy: Always
status: {}


---

kind: Service
apiVersion: v1
metadata:
  name: servicio-usuarios
spec:
  selector:
    app: servicio-usuarios
  type: NodePort
  ports:
    - nodePort: 30161
      port: 80
      targetPort: 9092

#apiVersion: v1
#kind: Service
#metadata:
#  annotations:
#    kompose.cmd: kompose convert
#    kompose.version: 1.7.0 (HEAD)
#  creationTimestamp: null
#  labels:
#    app: servicio-usuarios
#  name: servicio-usuarios
#spec:
#  ports:
#  - name: headless
#    port: 1234
#    targetPort: 1234
#  type: NodePort
#  selector:
#    app: servicio-usuarios
#status:
#  loadBalancer: {}
